* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-size: cover;
  background: rgb(47, 20, 20);
}

header h1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 20%;
  background-color: gold;
}

header nav {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
header a {
  color: gold;

}
header a:hover{
  color: red}

.hero-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-size: cover;
  background-image: url("../images/cocaohero.jpeg");
}
.hero-banner img{
  width: 20%;
  border-color: gold;
  border-width: 4px;
  border-style: solid;
}

.hero-text {
  display:flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: flex-end;
  text-align: center;
  color: gold;
  
  
}
.hero-text h2{
  background-color: rgba(59, 9, 9, 0.901);
  
}

/*styling for the sections*/

.page-section h2 {
  font-size: 48px;
  border-right: 5px solid ;
  border-color: red;
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}


#about p {
  font-size: 20px;
  padding: 20px 30px;
  line-height: 1.6;
  width: 90%;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;

}
#contact nav {
  width: 90%;
  padding: 20px 30px;
  font-size: 30px
}

#contact nav a {
  color: rgba(59, 9, 9, 0.901);

}
#contact nav a:hover{
  color: red}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
